[user]
	name = Sean T Allen
	email = sean@monkeysnatchbanana.com

[core]
	excludesfile = /Users/sean/.gitignore

[color]
	ui = auto
	diff = auto

[format]
	pretty=format:* %Cred%h%Creset - %s (%Cgreen%cr%Creset) <%an>

[alias]
        amend = commit --amend
	ci    = commit
	co    = checkout
        out   = outgoing
        pom   = push origin master
