[user]
  name  = Sean T Allen
  email = sean@monkeysnatchbanana.com

[core]
  excludesfile = /Users/sean/.gitignore
  pager        = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight
  trustctime   = false

[color]
  ui          = auto
  diff        = auto

[format]
  pretty = format:* %Cred%h%Creset - %s (%Cgreen%cr%Creset) <%an>

[alias]
  amend   = commit --amend
  ci      = commit
  ci-snap = commit -a -m 'Back to snapshot.'
  co      = checkout
  di      = diff
  div     = divergence
  lol     = log --graph --decorate --pretty=oneline --abbrev-commit
  lola    = log --graph --decorate --pretty=oneline --abbrev-commit --all
  out     = outgoing
  pom     = push origin master
  ready   = rebase -i @{u}
  st      = status
  tags    = tag --list
  wipe    = reset –hard HEAD
  wth     = what-the-hell-just-happened

[push]
  default = simple

